job/src/main/resources/archetype-resources/src/main/mule/logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:eframework="http://www.mulesoft.org/schema/mule/eframework" xmlns:min-log="http://www.mulesoft.org/schema/mule/min-log"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/min-log http://www.mulesoft.org/schema/mule/min-log/current/mule-min-log.xsd
http://www.mulesoft.org/schema/mule/eframework http://www.mulesoft.org/schema/mule/eframework/current/mule-eframework.xsd">
	<flow name="logic-publishFlow" doc:id="ff7fd59b-440e-4de5-9147-614647f815ba" >
		<scheduler doc:name="Scheduler" doc:id="4c623875-9daa-491d-ba58-1c7dd881fdf6" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<min-log:new-job doc:name="New job" doc:id="4a018da6-3ad6-4c7b-aadb-7a931f0691f1" target="transactionProperties"/>
		<min-log:timed transactionProperties="#[vars.transactionProperties]"
			doc:name="Timed">
			<set-payload value='#[ ["One","Two","Three","Four","Five","Six","Seven","Eight","Nine","Ten"] ]' doc:name="Set Payload" doc:id="36cf860c-213e-46d8-bdca-d4f821c10dcf" />
			<foreach doc:name="For Each" doc:id="fc64de1b-1992-4655-b167-f81deedca207" >
				<min-log:new-record doc:name="New record" doc:id="6f451067-92f1-4589-b052-4b8bdde9bbf0" target="transactionProperties" transactionProperties="#[vars.transactionProperties]"/>
				<eframework:progress doc:name="Progress" doc:id="038f69f3-d925-4306-a02b-d3695017198c" config-ref="Eframework_Config" stage="READ" detailText='#["pulled record " ++ payload ++ " from batch"]' recordDescriptor="#[payload]" attributes="#[vars.transactionProperties]"/>
			</foreach>
			<set-payload value="Now is the time for all good men to come to the aid of their country" doc:name="Set Payload" doc:id="7a535f85-1f2e-4fe1-a8e9-676c73074a54" encoding="UTF-8" mimeType="text/plain"/>
		</min-log:timed>
	</flow>
</mule>
